{% extends "!basic/layout.html" %}

{%- set render_sidebar = (not embedded) and (not theme_nosidebar|tobool)
    and (sidebars != []) %}

{% macro tgheadermenu() %}
<div id="menu">
  <div id="menuline"></div>
  <ul id="mainmenu">
    <li class="first {{['', 'active'][pagename=='index']}}"><a href="{{ pathto(master_doc) }}">Welcome</a></li>
    <li class="{{['', 'active'][pagename=='features']}}"><a href="{{ pathto('features') }}">Features</a></li>
    <li class="{{['', 'active'][pagename=='documentation']}}"><a href="{{ pathto('documentation') }}">Documentation</a></li>
    <li class="{{['', 'active'][pagename=='resources']}}"><a href="{{ pathto('resources') }}">Community & Consulting</a></li>
    <li class="{{['', 'active'][pagename=='whos-using']}}"><a href="{{ pathto('whos-using') }}">Who's Using It?</a></li>
    <li class="{{['', 'active'][pagename=='current-status']}}"><a href="{{ pathto('current-status') }}">Project Status & Contributing</a></li>
    <li class="{{['', 'active'][pagename=='cogbin']}}"><a href="{{ pathto('cogbin') }}">The CogBin</a></li>
    <li><a href="http://planet.turbogears.org/">Planet</a></li>
  </ul>
</div>

<div id="headerbox">
  <a href="https://github.com/TurboGears">
    <img id="github-flag" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
  </a>

  <div id="header">
    <div id="downloadbox">
      Current: <a id="curversion"
                  href="#">2.3.2</a><br/>
      <div id="installcmd">
        <strong>$</strong> pip install tg.devtools
      </div>
    </div>

    <h1>TurboGears</h1>
    <h2>{{ title }}</h2>

    <div id="gplusdata" style="min-height: 15px;">
      <div id="gitbtn" style="display: inline">
        <iframe src="http://ghbtns.com/github-btn.html?user=TurboGears&repo=tg2&type=watch&count=true"
              allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
      </div>

      <div id="gplusbtn">
        <div class="g-plusone" data-size="small" data-annotation="inline" data-width="180" data-href="http://www.turbogears.org/"></div>
      </div>
      <script type="text/javascript">
        (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>

      <a href="https://twitter.com/turbogearsorg" class="twitter-follow-button" data-show-count="false">Follow @turbogearsorg</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    </div>
    <div style="clear:both"></div>
  </div>
</div>
{% endmacro %}

{% block relbar1 %}
  {{
    tgheadermenu()
  }}
{% endblock %}
    
{% macro tgsidebar() %}
   {%- if render_sidebar %}{{ sidebar() }}{%- endif %}
{% endmacro %}

{% macro sidebarcss() %}
  {%- if not render_sidebar %}
    <style type="text/css">
    div.document, div.footer { margin-left:0; margin-right: 0; }
    </style>
  {%- endif %}
{% endmacro %}

{% block extrahead %}
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  {{ sidebarcss() }}
{% endblock %}

{% block sidebar1 %}{{ tgsidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

{% block relbar2 %}{% endblock %}

{% block rootrellink %}
<li><a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>{{ reldelim1 }}</li>
{%- if pagename != 'search' %}
<li id="searchbox" style="display: none; margin: 0 20px;" class="right">
  <form class="search" action="{{ pathto('search') }}" method="get">
    <span>{{ _('Search:') }}</span>
    <input type="text" name="q" size="18" />
    <input type="submit" value="{{ _('Go') }}" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</li>
<script type="text/javascript">$('#searchbox').show(0);</script>
{%- endif %}
{% endblock %}

{% block document %}
  <div class="documentwrapper">
    <div class="body headerfix">
      {% block body %} {% endblock %}
    </div>
  </div>
{%- endblock %}

{%- block footer %}
  <div class="footer"><span>
  {%- if show_copyright %}
    {%- if hasdoc('copyright') %}
      {% trans path=pathto('copyright'), copyright=copyright|e %}&copy;
      <a href="{{ path }}">Copyright</a> {{ copyright_year }}
      by the <a href="{{ project_url }}">{{ project }}</a> Doc Team.{% endtrans %}
    {%- else %}
      {% trans copyright=copyright|e %}&copy; Copyright {{ copyright_year }}
      by the <a href="{{ project_url }}">{{ project }}</a> Doc Team.{% endtrans %}
    {%- endif %}
  {%- endif %}
  </span></div>
  {%- if theme_google_analytics|tobool %}
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-7088080-2");
  pageTracker._trackPageview();
  } catch(err) {}</script>
  {%- endif %}
{%- endblock %}

{% if theme_headerheight %}
{% set script_files = script_files + ['_static/header.js'] %}
{% endif %}
