{% extends "!basic/layout.html" %}

{%- set render_sidebar = (not embedded) and (not theme_nosidebar|tobool)
    and (sidebars != []) %}

{% macro tgheadermenu() %}
<div id="header">
  <h1>Turbogears 2
    <span class="subtitle">
      The rapid web development megaframework you've been looking for.
    </span>
  </h1>
  <div id="gplusdata" style="float: right; margin-top: 54px">
    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-size="small" data-annotation="inline" data-width="300" data-href="http://www.turbogears.org/"></div>
    
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div>
  <div style="clear:both"></div>
</div>    

<div id="menu">
  <ul id="mainmenu">
    <li class="first"><a href="{{ pathto(master_doc) }}">Welcome</a></li>
    <li><a href="{{ pathto('features') }}">Features</a></li>
    <li><a href="{{ pathto('documentation') }}">Documentation</a></li>
    <li><a href="{{ pathto('resources') }}">Community</a></li>
    <li><a href="{{ pathto('whos-using') }}">Who's Using It?</a></li>
    <li><a href="{{ pathto('current-status') }}">Project Status & Contributing</a></li>
    <li><a href="{{ pathto('cogbin') }}">The CogBin</a></li>
    <li><a href="http://planet.turbogears.org/">Planet</a></li>
  </ul>
</div>
{% endmacro %}

{% block relbar1 %}
  {{
    tgheadermenu()
  }}
{% endblock %}
    
{% macro tgsidebar() %}
   {%- if render_sidebar %}{{ sidebar() }}{%- endif %}
{% endmacro %}

{% macro sidebarcss() %}
  {%- if not render_sidebar %}
    <style type="text/css">
    div.document, div.footer { margin-left:0; margin-right: 0; }
    </style>
  {%- endif %}
{% endmacro %}

{% block extrahead %}{{ sidebarcss() }}{% endblock %}

{% block sidebar1 %}{{ tgsidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

{% block relbar2 %}{% endblock %}

{% block rootrellink %}
<li><a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>{{ reldelim1 }}</li>
{%- if pagename != 'search' %}
<li id="searchbox" style="display: none; margin: 0 20px;" class="right">
  <form class="search" action="{{ pathto('search') }}" method="get">
    <span>{{ _('Search:') }}</span>
    <input type="text" name="q" size="18" />
    <input type="submit" value="{{ _('Go') }}" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</li>
<script type="text/javascript">$('#searchbox').show(0);</script>
{%- endif %}
{% endblock %}

{% block document %}
  <div class="documentwrapper">
    <div class="body headerfix">
      {% block body %} {% endblock %}
    </div>
  </div>
{%- endblock %}

{%- block footer %}
  <div class="footer"><span>
  {%- if show_copyright %}
    {%- if hasdoc('copyright') %}
      {% trans path=pathto('copyright'), copyright=copyright|e %}&copy;
      <a href="{{ path }}">Copyright</a> {{ copyright_year }}
      by the <a href="{{ project_url }}">{{ project }}</a> Doc Team.{% endtrans %}
    {%- else %}
      {% trans copyright=copyright|e %}&copy; Copyright {{ copyright_year }}
      by the <a href="{{ project_url }}">{{ project }}</a> Doc Team.{% endtrans %}
    {%- endif %}
  {%- endif %}
  </span></div>
  {%- if theme_google_analytics|tobool %}
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-7088080-2");
  pageTracker._trackPageview();
  } catch(err) {}</script>
  {%- endif %}
{%- endblock %}

{% if theme_headerheight %}
{% set script_files = script_files + ['_static/header.js'] %}
{% endif %}
